<section>
    <h2>Features</h2>
    <p>Most calendars are designed for teams. Slate is designed for freelancers.</p>

    <div class="item">
        <img src="img/SquareAndCircul.png" alt="SquareAndCircul">
        <h3>OpenType features variable fonts</h3>
        <p>Slate helps you see how many more days you need to work to reach your financial goal.</p>
    </div>
    <div class="item">
        <img src="img/pencil.png" alt="pencil">
        <h3>Design with real data</h3>
        <p>Slate helps you see how many more days you need to work to reach your financial goal.</p>
    </div>
    <div class="item">
        <img src="img/brush.png" alt="brush">
        <h3>Fastest way to take action</h3>
        <p>Slate helps you see how many more days you need to work to reach your financial goal.</p>
    </div>
</section>

