<header>
    <div class="header">
        <nav>
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="logo">
            <img src="img/figmalogo.png" alt="figma logo">
        </div>
        <div class="social-icons">
            <img src="img/Twitter.png" alt="twitter logo">
            <img src="img/facebook.png" alt="facebook logo">
            <img src="img/Instagram.png" alt="Instagram logo">
        </div>
        <div>
            <h1>The best products start with Figma</h1>
        </div>
        <p>Most calendars are designed for teams. Slate is designed for freelancers.</p>
        <div>
            <button>Try for free</button>
        </div>
    </div>
</header>